<section class="container">
   
   <!-- <div [ngStyle]="{'background-image':'url('+article.image_url+')'}"></div> -->
   <div class="article-image" [style.background-image]="'url('+article.image_url+')'"></div>
<!-- <div><img class="article-image" mat-card-image src={{article.image_url}} alt={{article.title}}></div> -->
<div class="container-item">
   <h1>{{article.title}}</h1>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla expedita amet laborum corrupti vitae id eaque error. Nisi aperiam aut soluta. Obcaecati dicta ad, eaque non saepe tenetur. Unde, vero.
   Dolore minima et adipisci repellendus. Voluptates harum autem exercitationem nemo vel sed odit omnis, saepe eligendi ex ea natus provident? Tempore, quaerat praesentium nostrum reiciendis natus illum possimus asperiores quidem.
   Assumenda culpa possimus fuga voluptatum quaerat atque ad facere expedita soluta sequi, rem esse explicabo provident quidem obcaecati modi! Minus necessitatibus reprehenderit culpa, sit eius porro soluta doloremque sequi dolorem?
   Commodi laudantium omnis dolor explicabo cupiditate minima neque eos unde vitae aspernatur nemo, dolorem ratione minus quibusdam est. Fuga amet facilis labore natus ratione, vero ut. Vero tenetur rerum minima.
<br>
   Molestias odit a, necessitatibus itaque sed impedit accusamus beatae! Quo, natus. Commodi sequi fugiat obcaecati quas dicta. Commodi placeat ex eum exercitationem voluptatem consectetur necessitatibus quidem et, pariatur error eius.
   Id illo, facilis rem dolorem dolor, eius dicta atque sequi ipsum libero, vero corrupti quibusdam dolores voluptatum cum tempora. Repellendus iste quam quis mollitia architecto nisi fugiat earum fuga perspiciatis.
   Aperiam quae, non hic molestiae ipsum, delectus nihil voluptatibus possimus distinctio nostrum cum, dolorum voluptates eveniet ex nulla. Eos iure sequi sunt laboriosam quae iste saepe maxime eligendi facere. Quas!
   Voluptatem perspiciatis quia possimus distinctio fugiat rem minus odio nisi ex, aut accusantium voluptate optio tenetur iure laborum. Tempora sed quisquam accusamus quod, quo laborum libero in deserunt! Deserunt, ratione.
<br>
   Et porro non, voluptate deleniti reiciendis similique voluptatibus veniam, doloremque nam numquam magni ut eveniet, cupiditate culpa consectetur error? Quasi enim sapiente veniam itaque maxime exercitationem dignissimos eligendi dolore eum.
   Reprehenderit, amet placeat temporibus molestiae, ipsum voluptatem tempora, ratione nesciunt praesentium minima inventore id pariatur dolorem error recusandae? Neque quia nostrum quis perferendis corporis a aliquam itaque doloribus? Cupiditate, dolor.
   Odio laudantium dolorem quisquam iste. Porro possimus necessitatibus, expedita odit eum ullam illo at excepturi rerum illum, vel veritatis voluptatem corrupti, iure quam adipisci quisquam. Tempore pariatur harum a ducimus!
   Excepturi esse voluptatibus, nam aperiam perspiciatis voluptatem assumenda tempora ipsam vitae. Soluta modi sed nihil. Nam hic repellat quidem maxime eos praesentium autem! Veniam ex excepturi, illo voluptatem animi possimus.
   <br>
   Cupiditate voluptate animi perferendis impedit modi cumque quasi inventore maiores, unde facere facilis aliquid deserunt similique sapiente architecto, nisi error adipisci praesentium voluptates repellat veniam. Reiciendis illo alias accusamus ipsa?
   Modi ipsum quo ducimus aspernatur praesentium distinctio fugit, quod expedita? Tempora, modi numquam adipisci explicabo corrupti temporibus iure nostrum doloribus iste culpa, eaque velit deleniti consequuntur dicta magni necessitatibus delectus.
   Consectetur fuga ut enim. Dolor deleniti ullam eveniet reiciendis soluta reprehenderit repellendus sapiente qui, rem excepturi? Maiores, voluptate cumque libero qui officiis sunt accusamus fugit reprehenderit molestiae? Harum, vero ad!
   Nam, numquam minima. Fugiat esse in, omnis non consequuntur sequi nulla quos, deserunt porro debitis aliquam sed distinctio laboriosam aperiam ea recusandae quasi rem officiis, voluptas inventore dolor modi! Autem!
   <br>
   Voluptas officia facere dignissimos blanditiis at quod eius repellat eveniet placeat quo ipsa repellendus non iusto possimus quaerat, aut voluptate dolorem quisquam provident vitae. Nulla quo quam sapiente corporis repellat!
   Praesentium veritatis non dignissimos, neque consequuntur voluptas quae accusamus! Impedit, deleniti. Beatae ducimus esse officia nobis praesentium nulla? Voluptate libero, similique sint magni voluptas eum in facere nisi. Maxime, eos.
   Maiores, voluptate. Maxime laudantium ab quis, labore asperiores ipsa, dolor minus perferendis ratione nostrum necessitatibus beatae expedita facilis aut ullam, cum at sint voluptatem explicabo similique odio sit est. Soluta.
   Alias eos, ipsum at est similique a neque ducimus recusandae ratione ad, esse laboriosam unde vitae architecto enim maxime veniam aperiam, odio nam corporis. Ullam tempore aliquam repudiandae laborum libero?
   </p>
</div>
</section>

