.container {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    padding: 0 100px;
  }
}

.article-image {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.container-item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 180px auto 20px;
  padding: 20px 35px 20px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  color: #363636;
  background: #fff;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.05);
  z-index: 10;

   @media screen and (min-width: 768px) {
    gap: 40px;
    margin-bottom: 50px;
    padding: 35px 75px 50px;
   }

  h1 {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:0;

    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
  }

  p {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;

     @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }
}

.home-back {
  margin-bottom: 20px;

  &__btn {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 14px;
  padding: 6px;
  border-radius: 6px;
  color: #363636;
  border: 1px solid #cdd9ed;
  background-color: #a4d9f2;
  cursor: pointer;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease;

  &:focus,
  &:hover {
    background-color: #70c5ed;
  }
 
  @media screen and (min-width: 768px) {
  gap: 4px;
  font-size: 18px;
  padding: 10px;
 }

}

@media screen and (min-width: 768px) {
margin-bottom: 30px;
 }
}

