/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Montserrat, "Helvetica Neue", sans-serif; }

.highlight {
  background-color: #fbfb63;
  font-weight: bold;
}

body {
  background-color: #fffcbc;
}

* {
  font-family: Montserrat;
}
