.article {
  min-height: 100vh;
  padding: 0 30px;

  @media screen and (min-width:768px) {
    padding: 0 100px;
  }
}

.container {
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px 0 40px;
  gap: 30px;
}

.article-card {
  max-width: 400px;
  height: 480px;

  @media screen and (min-width: 768px) {
    height: 600px;
  }
}

.article-image {
  height: 200px;
  width: 100%;
  object-fit: cover;

    @media screen and (min-width: 768px) {
    height: 250px;
  }
}

.article-date {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 10px;
  font-size: 12;

  p {
    margin: 0;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.article-title {
  height: 80px;
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: Montserrat;
  color: #363636;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.5;
    height: 120px;
  }
}

.article-summary {
  height: 60px;
  color: #363636;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    height: 90px;
  }
}

.article-btn_container {
  margin: 10px 0 15px;
}

.article-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 16px;
  cursor: pointer;
  color: #363636;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s ease;

  &:hover,
  &:focus {
    background-color: #ffff8f;
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.btn-search {
  border-radius: 0px;
  border-left: 0px;
  border-color: #ced4ce;
  cursor: pointer;
}

.load-more_btn {
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 18px;
  padding: 10px;
  border-radius: 6px;
  color: #363636;
  border: 1px solid #cdd9ed;
  background-color: #a4d9f2;
  cursor: pointer;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease;

  &:focus,
  &:hover {
    background-color: #70c5ed;
  }
}

.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.search-full-width {
  width: 100%;
}