.article {
  min-height: 100vh;
}

.container {
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 30px 0 40px;
  gap: 30px;
}
.article-card {
  max-width: 400px;
  height: 600px;
}
.article-image {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}

.article-date {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 10px;

  p {
    margin:0;
  }
}

.article-summary {
height: 90px;
color: #363636;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
} 

.article-btn_container {
  margin: 10px 0 15px;
}
.article-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 16px;
  cursor: pointer;
  color: #363636;
font-size: 16px;
font-style: normal;
 font-weight: 700;
 line-height: 1.5; 
 background-color: transparent;
 border: none;
 transition: background-color 0.3s ease;

 &:hover,
 &:focus{
  background-color: #FFFF8F;
 }
}

.article-title {
  height: 120px;
  margin: 10px 0;
  font-family: Montserrat;
  color: #363636;
  overflow: hidden;
}

.btn-search {
  border-radius: 0px;
  border-left: 0px;
  border-color: #ced4ce;
  cursor: pointer;
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.search-label {
  font-size: 22px;
  margin-top: 30px;
}

.search-wrapper {
  display: flex;
}

.search-input {
  font-size: 18px;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  color: #363636;
  border: 1px solid #cdd9ed;
  background: #fff;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
  transition: border 0.3s ease;
  &::placeholder {
    color: #99a3ba;
  }
  &:focus {
    outline: none;
    border-color: #3f51b5;;
  }

 @media screen and (min-width: 768px) {
font-size: 20px;
 }

  @media screen and (min-width: 1280px) {
font-size: 22px;
  }
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  right: 45%;
  color: #7e89a2;
}

.load-more_btn {
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 18px;
  padding: 10px;
  border-radius: 6px;
  color: #363636;
  border: 1px solid #cdd9ed;
  background-color: #a4d9f2;
  cursor: pointer;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease;

  &:focus, &:hover {
    background-color: #70c5ed;
  }

}