<app-header></app-header>
<p *ngIf="loading">Loading...</p>
<section>
  <p>Filter by keywords</p>

  <div class="search-container">
    <form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()">
      <input
        type="text"
        placeholder="Search here..."
        formControlName="searchValue"
      />
      <mat-icon matSuffix>search</mat-icon>
    </form>
  </div>

  <div>
    <p>134 results</p>
  </div>
</section>

<section class="container" *ngIf="showArticle">
  <mat-card class="article-card" *ngFor="let article of results">
    <img
      class="article-image"
      mat-card-image
      src="{{ article.image_url }}"
      alt="{{ article.title }}"
    />
    <mat-card-content>
      <div class="article-date">
               <mat-icon>calendar_today</mat-icon>
      <p>{{ article.published_at | date : "MMMM d, y" }}</p>
      </div>
      <h2 class="article-title" [innerHTML]="article.title | highlightSearch : searchValue"></h2>
     
      <p class="article-summary" > {{article.summary | slice: 0: 100 | highlightSearch : searchValue}}{{article.summary.length > 100 ? '...': ''}}</p>
    </mat-card-content>
    <mat-card-actions >
      <button class="article-btn" mat-button [routerLink]="['/articles', article.id]">
        Read more
       <mat-icon class="article-btn_icon">arrow_forward</mat-icon>
      </button>

    </mat-card-actions>
  </mat-card>
</section>

<section class="container" *ngIf="!showArticle">
  <mat-card class="article-card" *ngFor="let article of articles">
    <img
      class="article-image"
      mat-card-image
      src="{{ article.image_url }}"
      alt="{{ article.title }}"
    />
    <mat-card-content>
      <div class="article-date">
               <mat-icon>calendar_today</mat-icon>
      <p>{{ article.published_at | date : "MMMM d, y" }}</p>
      </div>

      <h2 class="article-title">{{ article.title }}</h2>
      <p class="article-summary" >
        {{article.summary | slice: 0: 100}}{{article.summary.length > 100 ? '...': ''}}
      </p>
    </mat-card-content>
    <mat-card-actions class="article-btn_container">
      <button class="article-btn" mat-button [routerLink]="['/articles', article.id]">
        Read more
         <mat-icon style="fill: transparent">arrow_forward</mat-icon>
      </button>
     
    </mat-card-actions>
  </mat-card>
</section>
