.container {
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 25px;
}
.example-card {
  max-width: 300px;
}
.article-image {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}

.btn-search {
  border-radius: 0px;
  border-left: 0px;
  border-color: #ced4ce;
}

.search-container {
  display: flex;
}